.background {
    background-color: #ec6349;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu {
    background-color: white;
    width: 40vw;
    height: 80vh;
    border-radius: 3%;
}

.titulo-menu {
    text-align: center;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.email {
    margin-bottom: 50px;
    margin-top: 50px;
}

.text_input_email {
    text-align: center;
    margin-bottom: 20px;
}

#input_email {
    height: 30px;
    background-color: #f2f2f2;
    padding: 3px;
    border: none;
    
}

#input_senha {
    height: 30px;
    background-color: #f2f2f2;
    padding: 3px;
    border: none;
    
}

.button_form {
    margin-top: 50px;
    width: 30%;
    height: 50px;
}